main {
  display: flex;
  justify-content: center;
}
.masterBackground {
  background-image: url(https://pics.freeartbackgrounds.com/fullhd/Pond_Background-609.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}


#headerComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  font-size: 40px;

}
#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#profileInfo {
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
}
#profileInfo1 {
  border: 1px solid white;
  background-color: rgba(255,255,255,.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  height: 600px;
  width: 500px;
}
#profileInfo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(0,0,0,.7);
  height: 450px;
  width: 450px;
}
#comment {
  height: 100px;
  width: 450px;
  color: black;
}
.gif {
  height: 70px;
  width: 50px;
  margin: 20px;
}
.cardLayout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1300px;
}
#card {
  background-color: rgba(255,255,255,.5);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 350px;
  width: 300px;
  margin: 60px;
  padding-top: 10px;
}
#cardInfo {
  display: flex;
  justify-content: center;
  padding: 15px;
}
#formPage {
  min-width: 600px;
}
.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,.5);
  padding-right: 25px;
}
.fullImage {
  height: 600px;
  width: 600px;
  border: 1px solid white;
}
.tileImage {
  height: 275px;
  width: 275px;
}
.callButtonShow {
  background-image: url(/images/duckCall.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 60px;
}
.counter {
  background-color: transparent;
  color: black;
  padding-top: 20px;
}
.callButtonCard {
  position: absolute;
  background-image: url(/images/duckCall.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 60px;
  margin-left: 100px;
  padding-left: 20px;
  padding-top: 22px;
}
#rightArrow {
  height: 40px;
  width: 100px;
  text-align: center;
  margin-top: 280px;
}
#leftArrow {
  height: 40px;
  width: 100px;
  text-align: center;
  margin-top: 280px;
}
